<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Hoşgeldin <%= @user %></h5>
    <p class="card-text">Yeni bir ödeme yöntemi girmek ister misin?</p>
      <a>
        <%= form_tag create_payment_method_path, id: "create-payment-method" do  %>
            <%= link_to "Ödeme Yöntemi Gir", add_payment_method_path, remote: true, class: "btn btn-primary" %>
        <% end %>
      </a>
  </div>
</div>